{{#if updateBoardForm}}
  <h4>Update {{board.question}}'s {{rental.type}}</h4>
  <div>
    <form>
      <div class="form-group">
        <label for="question">question</label>
        {{input value=question id="question" placeholder=board.question}}
      </div>

      <div class="form-group">
        <label for="note">note</label>
        {{input value=note id="note" placeholder=board.note}}
      </div>


    </form>
    <button {{action 'update' board}}>Save</button>
  </div>
{{else}}
  <button {{action 'updateBoardForm'}}>Update</button>
{{/if}}
