
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">



      {{ link-to 'Home' 'index' class="navbar-brand" }}
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li>{{ link-to 'About' 'about' }}</li>
        <li>{{ link-to 'Contact' 'contact' }}</li>
        <li>{{ link-to 'Favorite Question' 'favorites'}}</li>
      </ul>

    </div>
  </div>
</nav>
<div class= "container">

  <header class= "jumbotron">
    <h1>You have questions?..... We got answer</h1>
  </header>

    {{outlet}}
     
  <hr>
</div>
<body>
</body>
